@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*{
    font-family: 'Montserrat', sans-serif;
}
body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
.nav-link{
    color: #0927E8;
}
.smthg{
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.smthg img{
   object-fit: cover;
    width: 100%;
    height: 500px;
    object-position: top;
}
.banner-text{
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 3vw;
    color: white;
    font-weight: 700;
    background-color: rgba(45, 52, 54,0.8);
    padding: 15px;  
    text-align: center;
    width: 30%;
}
.banner-text img{
    width: 100%;
    height: 100px;
    object-fit: contain;
}


/*contact form design*/
.contact-form{
    position: absolute;
    top: 30%;
    right: 5%;
    width:  30%;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}
.contact-form p{
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 25px;
    color: #0927E8;
    letter-spacing: 1px;
}
.form-group1 label{
    color: #0927E8;
    margin-top: 25px;
}
.form-group1 input,select{
    border-radius: 10px;
    border-width: 1px;
    border-color: #0927E8;
    color: #0927E8;
    display: block;
    width: 100%;
    padding: 5px 15px;
    margin-top: 5px;
}


.blue-btn{
    border-radius: 10px;
    border-width: 1px;
    border-color: #0927E8;
    color: white;
    display: block;
    
    padding: 5px 15px;
    margin-top: 25px;
    background-color: #0927E8;
    transition: all .5s;
   
}
.blue-btn:hover{
    border: 1px solid #0927E8;
    background-color: white;
    color: #0927E8;
     text-decoration: none;
}
.white-btn{
    border-radius: 30px;
    border-width: 1px;
    border-color: #0927E8;
    color: #0927E8;
    display: block;
    
    padding: 5px 15px;
    margin-top: 25px;
    background-color: white;
    transition: all .5s;
}
.white-btn:hover{
    background-color: #0927E8; 
    text-decoration: none;
    color: white;
    text-decoration: none;
}
.white-btn:hover{
/*
    border: 1px solid white;
    color: white;
*/
}
.white-btn:hover .icon{
    visibility: visible;
    left: 20px;
    -webkit-animation: iconanime 1s infinite; /* Safari 4.0 - 8.0 */
    animation: iconanime 1s infinite;
}
.blue-borderd-btn{
    border-radius: 30px;
    border-width: 1px;
    border-color: #0927E8;
    color: #0927E8;
    display: block;
    width: 80%;
    padding: 5px 15px;
    margin-top: 25px;
    background-color: white;
}
.icon{
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
/*animation*/
.icon{
    visibility: hidden;
    position: relative;
    left: 10px;
}

@-webkit-keyframes iconanime {
  from {left: 20px;}
  to {left: 20px;}
}

/* Standard syntax */
@keyframes iconanime {
  from {left: 10px;}
  to {left: 20px;}
}

.text-theme{
    color: #0927E8;
}
::-webkit-input-placeholder { /* Edge */
  color: #7A86D2;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #7A86D2;
}

::placeholder {
  color: #7A86D2;
}

/*box shadows*/

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
/*box shadows end*/


/*about section*/
.abt-section{
    background-color: #3b54f7;
}

.abt-section h2{
    font-weight: 400;
}
.student-section p{
    color: #0927E8; 
    font-size: 25px;
    font-weight: 400;
    padding: 
}
.stu-cnt{
    color: #0927E8; 
    font-size: 40px;
    font-weight: 700;
}


/*Course section*/
.course-section{
    background-color: #0070FF;
    padding: 0;
    margin: 0;
}
.border-sm{
    border-radius: 20px;
    overflow: hidden;
}
.course-cont{
    white-space: wrap; 
  height: 150px; 
  overflow: hidden;
  text-overflow: ellipsis; margin: 20px 0px;
}
.course-card h2{
    font-size: 20px;
}
.course-hov:hover a{
    text-decoration: none;
    -webkit-animation: iconanime 1s infinite; /* Safari 4.0 - 8.0 */
    animation: iconanime 1s infinite;
}

/*why section*/
.why-section{
    background-color: #2585FF;
}
.why-section h2{
    margin-top: 50% ;
    
}
.why-section p{
    color: white;
    padding: 10px;
}

/*testimonial*/
.pos-fixed{
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.testimonial{
    background-color: #315AFC;
}
.testimonial i{
    font-size: 140px;
    color: white;
}
/*footer section*/
footer{
    background-color: #00235E;
}

/*events display events style*/
.event-card p{
    font-size: 10px;
    color:gray;
    margin: 0;
    padding: 0px;
}
.event-card h3{
    color: black;
}
/*about us page*/
.about
{
    background-image: url(../images/aboutus-animation-kamanahalli.jpg);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-bg{
    background-color: rgb(255, 255, 255,0.5);
    height: 200px;
    width: 50%;
    position: relative;
    left: 25%;
    top:30%;
}
.about-bg h2{
    text-align: center;
    position: relative;
    top:30%;
    color: rgba(19, 15, 64,1.0);
    font-weight: bold;
}
.about-bg h5{
    text-align: center;
    position: relative;
    top:40%;
    color: rgba(19, 15, 64,1.0);
}
.about-cont i{
    font-size: 30px;
}
.about-cont h3{
    font-size: 2em;
}
.thank{
    background-image: url(../images/thank-you.jpg);
   
    width: 100%;
    background-position:top;
    background-size: cover;
}
.thank i{
    font-size: 20vh;
}


div.stars {
  width: 270px;
  display: inline-block;
}
input.star { display: none; }
label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }
label.star:hover { transform: rotate(-15deg) scale(1.3); }
label.star:before {
  content: '\f006';
  font-family: FontAwesome;

}


@media only screen and (min-width:600px){
    .white-btn{
        width: 30%;
    }
    .blue-btn{
        width: 30%;
    }
}
@media only screen and (max-width: 600px) {
 .contact-form{
        position: absolute;
        top:5%;
        right: 5%;
        width:  90%;
        background-color: white;
        padding: 15px;
        border-radius: 10px;
    }
    .contact-form p{
    margin: 0 0  0;
    text-align: center;
    font-size: 25px;
    color: #0927E8;
    letter-spacing: 1px;
    }
    .white-btn
    {
        width: 80%;
    }
    .blue-btn{
        width: 80%;
    }
    .course-title{
        
    }
}
